* {
    margin: 0;
    padding: 0;
}

body {
    background:#FFE4C4;

}
h1 {
    color:#8B7765;
}

.box {
    
   /* Borda do css*/
    border: 2px solid #8B795E;
    /* Tamanho de largura */
    width: 350px;
    /* Tamanho da  altura*/
    height: 180px;
    /*
    Espaçamento - fora do elemento
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        margin-left: 20px;
    */
    /*Usando margin na mesma linha*/
    margin:20px 20px 50px 20px;
    /*      T    R     B    L    */

}
